*{

margin:0;
padding:0;
box-sizing:border-box;

}


html{

scroll-behavior:smooth;

}



body{

font-family:Arial, sans-serif;

background:#020617;

color:white;

}





header{

background:#020617;

position:fixed;

width:100%;

top:0;

z-index:100;

}



nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 10%;

}



.logo{

font-size:32px;

}



.logo span{

color:#38bdf8;

}



nav ul{

display:flex;

gap:25px;

list-style:none;

}



nav a{

color:white;

text-decoration:none;

}





.hero{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

gap:100px;

padding:100px 10%;

}



.hero-content{

max-width:600px;

}



.hero h1{

font-size:55px;

}



.hero span{

color:#38bdf8;

}



.hero h2{

margin:20px 0;

color:#94a3b8;

}



.hero p{

font-size:20px;

line-height:1.6;

}





.profile img{

width:320px;

height:320px;

border-radius:50%;

object-fit:cover;

border:5px solid #38bdf8;

}





.btn{

display:inline-block;

margin-top:30px;

padding:15px 30px;

background:#38bdf8;

color:black;

border-radius:30px;

text-decoration:none;

font-weight:bold;

}





section{

padding:80px 10%;

}



.heading{

text-align:center;

font-size:40px;

margin-bottom:40px;

}




.text{

font-size:20px;

line-height:1.8;

text-align:center;

}





.cards{
display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}



.card{

background:#1e293b;

padding:30px;

width:300px;

border-radius:20px;

transition:.3s;

}



.card:hover{

transform:translateY(-10px);

background:#334155;

}



.large{

width:60%;

margin:auto;

}





.skills{

display:flex;

justify-content:center;

flex-wrap:wrap;

gap:20px;

}



.skills span{

background:#38bdf8;

color:black;

padding:15px 25px;

border-radius:30px;

font-weight:bold;

}





#contact{

text-align:center;

}



#contact a{

color:#38bdf8;

}





footer{

text-align:center;

padding:20px;

background:#000;

}




@media(max-width:800px){


.hero{

flex-direction:column;

text-align:center;

}


nav ul{

display:none;

}


.hero h1{

font-size:40px;

}


}

.certificate-card a{

text-decoration:none;

color:#38bdf8;

}


.certificate-card a:hover{

color:white;

}


/* Internship */


.internship-card a{

text-decoration:none;

color:#38bdf8;

}


.internship-card a:hover{

color:white;

}


.internship-card{

width:400px;

}